@font-face {
    font-family:normal ;
    src: url(../fonts/WixMadeforTextVF_W_Wght.8022447a.woff2);
}
@font-face {
    font-family: bold;
    src: url(../fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Bebas Neue', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
}

 

 
