@media screen and (max-width: 2000px){
    main {
         width: 70% !important;       

    }
    main .post-title .text {
        width: 50%;
    }

    .posts{
        width: 50%;
        margin: 0 auto;
    }
    .post-holder  {
        width: 100%;
        display: grid;
        grid-template-columns: auto  auto auto ;
    }
    
   

}
@media screen and (max-width: 1400px){
    main {
        width: 80% !important;
        

    }
    main .post-title {
         box-sizing: border-box;
          
    }
    main .post-title .text {
        width: 50%;
    }
    footer{
        width: 80%;
    }
    .contact {
        width: 80%;
        display: flex;
        flex-direction: column;
        
    }
    footer .contact .footer-title {
        margin: 0 7%;
        font-size: 35px;     
      
    }
    footer .contact  .input {
        margin: 0 7.5%;
        width: 85%;
        justify-content:   space-between;

    }
    footer .contact  .input  input {
        width: 80%;
    }
    footer .contact  .input  button {
        width: 15%;
    }
 
  

    
    
   

}
@media screen and (max-width: 1200px){
    header {
        width: 100%;
     }
     header .cover{
        width: 100%;
        height: 150px;
    }
    header .cover .line-bold  {
         width: 80%;
    }
    header .cover .line{
        width: 80%;
    }
    .header-text{
        display: flex;
         
    }
    .header-text h1 {
        font-size: 60px;
    }
    .header-text  p  {
        font-size: 30px;
       
    }

    main {
        width: 80% !important;
        

    }
    main .post-title {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    main .post-title .text  {
        width: 60%;
    }
    
    .box-container {
        height: 40px;
    }
    .posts{
        width: 70%;
        margin: 0 auto;
    }
    .post-holder  {
        width: 100%;
        display: grid;
        grid-template-columns: auto  auto  ;
    }

    
    footer {
        width: 80% !important;
        height: 200px;
    }
    footer .contact  {
        width: 100%;
        margin: 50px 0;
        display: flex;
        flex-direction: column;

    }
    footer .contact .footer-title p {
        font-size: 25px;
        margin: 0 4%;
    }
    footer .contact .input{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        line-break: 2.5 !important;
    }
    footer .contact .input input{
        width: 65%;
        margin: 0 auto;
    }
    footer .contact .input button{
        width: 65%;
        margin: 2% auto;
    }

    


}
@media screen and (max-width: 992px){
    header {
        width: 100%;
     }
     header .cover{
        width: 100%;
        height: 150px;
    }
    header .cover .line-bold  {
         width: 80%;
    }
    header .cover .line{
        width: 80%;
    }
    .header-text{
        display: flex;
         flex-direction: column;
    }
    .header-text h1 {
        font-size: 30px;
    }
    .header-text  p  {
        font-size: 20px;
       
    }
    main {
        width: 90%;
        

    }
    main .post-title {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    main .post-title .text  {
        width: 50%;
    }
    
    .box-container {
        height: 30px;
    }
    .posts{
        width: 50%;
        margin: 0 auto;
    }
    .post-holder  {
        width: 100%;
        display: grid;
        grid-template-columns: auto  auto ;
    }

    footer {
        width: 80% !important;
        height: 200px;
    }
    footer .contact  {
        width: 100%;
        margin: 50px 0;
        display: flex;
        flex-direction: column;

    }
    footer .contact .footer-title p {
        font-size: 25px;
        margin: 0 1%;
    }
    footer .contact .input{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        line-break: 2.5 !important;
    }
    footer .contact .input input{
        width: 75%;
        margin: 0 auto;
    }
    footer .contact .input button{
        width: 75%;
        margin: 5% auto;
    }

    
}
@media screen and (max-width: 768px){
    header {
        width: 100%;
     }
     header .cover{
        width: 100%;
        height: 150px;
    }
    header .cover .line-bold  {
        display: none;
    }
    header .cover .line{
          display: none;
    }
    .header-text{
        display: flex;
         flex-direction: column;
    }
    .header-text h1 {
        font-size: 30px;
    }
    .header-text  p  {
        font-size: 20px;
       margin-top: 2%;
    }
    main {
        width: 90%;

    }
    .post-title .text{
        display: none;
    }
    .box-container {
        height: 40px;
    }
    .posts{
        width: 50%;
        margin: 0 auto;
    }
    .post-holder  {
        width: 100%;
        display: grid;
        grid-template-columns: auto  ;
    }
    footer {
        width: 80% !important;
        height: 200px;
    }
    footer .contact  {
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;

    }
    footer .contact .footer-title p {
        font-size: 25px;
        margin: 0 60px;
    }
    footer .contact .input{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        line-break: 2.5 !important;
    }
    footer .contact .input input{
        width: 90%;
        margin: 0 auto;
    }
    footer .contact .input button{
        width: 90%;
        margin: 5% auto;
    }
     

}
@media screen and (max-width: 600px){
    header {
        width: 100%;
     }
     header .cover{
        width: 100%;
        height: 150px;
    }
    header .cover .line-bold  {
        display: none;
    }
    header .cover .line{
          display: none;
    }
    .header-text{
        display: flex;
         flex-direction: column;
    }
    .header-text h1 {
        font-size: 30px;
    }
    .header-text  p  {
        font-size: 20px;
       margin-top: 2%;
    }
    main {
        width: 90%;

    }
    .post-title .text{
        display: none;
    }
    .box-container {
        height: 35px;
    }

    .posts{
        width: 50%;
        margin: 0 auto;
    }
    .post-holder  {
        width: 100%;
        display: grid;
        grid-template-columns: auto  ;
    }
    footer {
        width: 80% !important;
        height: 200px;
    }
    footer .contact  {
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;

    }
    footer .contact .footer-title p {
        font-size: 25px;
    }
    footer .contact .input{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        line-break: 2.5 !important;
    }
    footer .contact .input input{
        width: 90%;
        margin: 0 auto;
    }
    footer .contact .input button{
        width: 90%;
        margin: 5% auto;
    }
     


}
@media screen and (max-width: 500px){
     header {
        width: 100%;
     }
     header .cover{
        width: 100%;
        height: 150px;
    }
    header .cover .line-bold  {
        display: none;
    }
    header .cover .line{
          display: none;
    }
    .header-text{
        display: flex;
         flex-direction: column;
    }
    .header-text h1 {
        font-size: 30px;
    }
    .header-text  p  {
        font-size: 20px;
       margin-top: 5%;
    }
    main {
        width: 90%;

    }
    .post-title .text{
        display: none;
    }
    .box-container {
        height: 30px;
    }
    .posts{
        width: 50%;
        margin: 0 auto;
    }
    .post-holder  {
        width: 100%;
        display: grid;
         grid-template-columns: auto;
    }

    footer {
        width: 80% !important;
        height: 200px;
    }
    footer .contact  {
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;

    }
    footer .contact .footer-title p {
        font-size: 25px;
    }
    footer .contact .input{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        line-break: 2.5 !important;
    }
    footer .contact .input input{
        width: 90%;
        margin: 0 auto;
    }
    footer .contact .input button{
        width: 90%;
        margin: 5% auto;
    }


}
